/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Review Assignment

   Customer Information Validation Style Sheet
   Author: christian smith
   Date:   12/7/23

   Filename: rb_validate.css

*/


/* Validation Styles */

